<div id="sobre-mi" class="sobre-mi">
<i class="bi bi-suit-heart-fill icono-grande"></i>
  <div class="sobre-mi-info">
    <h3>Sobre mí</h3>
    <div class="texto-con-fondo">
      <p>"¡Hola! Soy Daniela Gallego, estudiante de Tecnología en Software en la Universidad Tecnológica de Pereira."</p>
      <a href="https://www.linkedin.com/in/daniela-gallego-giraldo-49599b28a/" target="_blank" class="boton-linkedin">
  <i class="pi pi-linkedin"></i> LinkedIn
</a>
    </div>
  </div>
  <i class="bi bi-suit-heart-fill icono-grande"></i>
</div> 