<div id="mi-contacto" class="mi-contacto">
  <div class="sobre-mi-contacto">
    <h3>Contacto</h3>
    
    <div class="contacto-container">
      <!-- Correo -->
      <div class="contacto-item">
        <i class="fa-solid fa-envelope"></i>
        <a [href]="'mailto:' + email" rel="noopener noreferrer">{{email}}</a>
      </div>
      
      <!-- Instagram -->
      <div class="contacto-item">
        <i class="fa-brands fa-instagram"></i>
        <a [href]="instagramUrl" target="_blank" rel="noopener noreferrer">{{instagramHandle}}</a>
      </div>
    </div>
  </div>
</div>